%li.chat-message{data: {id: "#{message.id}"}}
  .chat-message__header.clearfix
    %p.chat-message__name
      = message.user.name
    %p.chat-message__time
      = message.show_time
    %br
    %p.chat-message__body
      = message.body if message.body.present?
    .chat-message__img
      = image_tag message.image.url if message.image.url.present?
