%li.chat-message{data: {id: "#{message.id}"}}
  .chat-message__header.clearfix
    %p.chat-message__name
      = message.user.name
    %p.chat-message__time
      = message.show_time
    %br
    %p.chat-message__body
      - if message.body.present?
        = message.body
    .chat-message__img
    - if message.image.url.present?
      = image_tag message.image.url
