.chat-footer.clearfix
  = form_for([@group, @message], html: {id: 'js-message-form' )do |f|
    .chat-footer__form
      = f.text_field :body, class:  "chat-footer__form__left", id: "js-form__text-field", placeholder: "入力してください"
      .chat-footer__form__right
        = f.label :image, for: "file-input" do
          %i.fa.fa-picture-o
        = f.file_field :image, id: "file-input",style: "display:none;"
    = f.file_field :image, class: "chat-footer__form__right",style: "display:none;"
    = f.hidden_field :group_id, value:"#{@group.id}", id: "group-id"
    = f.submit "Send", class: "chat-footer__button", id: "message-btn"
