.chat-side
  //ログインユーザー
  .chat-user.clearfix
    %h5
      = current_user.name
    .chat-user__actions
      .chat-user__action
        = link_to(content_tag(:i, '', class: 'fa fa-pencil-square-o'), new_group_path )
      .chat-user__action
        = link_to(content_tag(:i, '', class: 'fa fa-cog'), edit_user_registration_path )
      -# = link_to(content_tag(:i, '新規グル−プ作製', class: 'fa fa-pencil-square-o'),
      -#   hoge_path, :method => :delete, class: "chat-user__action")
      -#
      -# = link_to(content_tag(:i, '新規グル−プ作製', class: 'fa fa-cog'),
      -#   hoge_path, :method => :delete, class: "chat-user__action")
  //グループ一欄
  .chat-groups
    %ul.chat-groups
      - current_user.groups.each do |group|
        %li.chat-group
          = link_to(group_messages_path(group), class: 'chat-group__link') do
            %p.chat-group__name
              = group.name
            %p.chat-group__message テスト・テスト
